@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}

.herocontainer {
    background-color: #1F2937;
    padding-bottom: 100px;
}
.navcontainer {
    color: #F9FaF8;
    display: flex;
    justify-content: center;
}


nav {
    display: flex;
    flex-basis: 70vw;
    gap: 50px;
}

nav > ul {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

li {
    list-style: none;
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    flex: 1;
}

.heroblock {
    color: #F9FaF8;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.blurbcontainer {
    flex:1;
}

.heromaintext {
    font-size: 48px;
    font-weight:bolder;
}

.herosecondarytext {
    font-size: 18px;
    color: #E5E7EB
}

.heroimage {
    flex: 1;
}

.heroimage > img {
    max-width: 100%;
}

.signupbutton {
    background-color: #3882F6;
    color: white;
    margin-top: 20px;
    border: none;
    padding: 8px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}

.bodycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.bodyheader {
    flex: 1;
    text-align: center;
    margin: 40px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.bodycontent {
    flex: 1;
}

.gallerycontainer {
    display: flex;
    gap: 50px;
}

.galleryitem {
    text-align: center;
    font-size: 14px;
    color: gray;
    width: 160px;
}

.blueblock {
    height: 160px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 4px;
    border-radius: 15px;
}

.quotecontainer {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quotewrapper {
    flex-basis: 60vw;
    margin-top: 100px;
    margin-bottom: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    color: #1F2937;
    margin-bottom: 0px;
}

.thor {
    text-align: right;
    padding-right: 60px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
}